.box {
  width: 100px;
  height: 100px;
  border: 1px solid red;
}

.cont-wrap {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.rps-box {
  border: 10px solid black;
  width: 400px;
  aspect-ratio: 1/1;
  text-align: center ;
}

.win {
  border: 10px solid deeppink
}

.lose {
  border: 10px solid rgb(100, 164, 237);
}

.rps-box:first-child {
  margin-right: 50px;
}

.item-img-wrap {
  display: inline-block;
  margin: 10px 0;
  width: 200px;
  height: 200px;
}

.item-img-wrap p {
  font-size: 30px;
  display: inline-block;
  font-weight: bold;
  color: aquamarine;
  margin-top: 100px;
}

.item-img {
  width: inherit;
}

.count-wrap {
  border: 5px solid slategray;
  width: 500px;
  margin: 50px auto;
  padding: 10px;
  gap: 20px;
}