.box {
  width: 100px;
  height: 100px;
  border: 1px solid red;
}

.cont-wrap {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.rps-box {
  border: 10px solid black;
  width: 500px;
  aspect-ratio: 1/1;
  text-align: center ;
}

.rps-box:first-child {
  margin-right: 50px;
}

.item-img-wrap {
  display: inline-block;
  margin: 50px 0;
  width: 250px;
  height: 250px;
}

.item-img-wrap p {
  font-size: 30px;
  display: inline-block;
  font-weight: bold;
  color: aquamarine;
  margin-top: 100px;
}

.item-img {
  width: inherit;
}