/* 날씨앱 */
body {
	height: 100vh;
  /* background: url('https://img.freepik.com/free-vector/winter-light-blue-gradient-vector-background_53876-128352.jpg?t=st=1723894702~exp=1723898302~hmac=e0faca1b95d29ffbe2232747fce331c9f49ed2231b80fd1c1e0d4cb0eb677f5b&w=1380') no-repeat center center/ cover; */
  background: url('https://i.pinimg.com/564x/a1/5f/d2/a15fd2baa7bd1de7ca3d683c3dcdd910.jpg') no-repeat 50% 80% / cover;
}

.container {
  max-width: 600px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
}

.weather-box-wrap{
  padding: 30px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
  margin-bottom: 50px;
}

.weather-btn-wrap{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 10px;
}

/* 가위바위보 */
.cont-wrap {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.rps-box {
  border: 10px solid black;
  width: 400px;
  aspect-ratio: 1/1;
  text-align: center ;
}

.win {
  border: 10px solid deeppink
}

.lose {
  border: 10px solid rgb(100, 164, 237);
}

.rps-box:first-child {
  margin-right: 50px;
}

.item-img-wrap {
  display: inline-block;
  margin: 10px 0;
  width: 200px;
  height: 200px;
}

.item-img-wrap p {
  font-size: 30px;
  display: inline-block;
  font-weight: bold;
  color: aquamarine;
  margin-top: 100px;
}

.item-img {
  width: inherit;
}

.count-wrap {
  border: 5px solid slategray;
  width: 500px;
  margin: 50px auto;
  padding: 10px;
  gap: 20px;
}

/* 기본 */
.box {
  width: 100px;
  height: 100px;
  border: 1px solid red;
}